<?xml version="1.0"?>
<!-- ROS head file to simulate vizzy in gazebo   -->
<launch>

  <arg name="move_robot_config_file" default="$(find foveated_stereo_ros)/config/frames.yaml"/>
  <arg name="simulation" default="false" />
  <arg name="fixation_point_in" default="fixation_point" /> 
  <arg name="fixation_point_out" default="fixation_point_goal_ros"/>
  <!-- launch gaze action -->
  <include file="$(find move_robot)/launch/gaze.launch">
    <arg name="config_file" value="$(arg move_robot_config_file)" />
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="fixation_point_in" value="$(arg fixation_point_in)" />
    <arg name="fixation_point_out" value="$(arg fixation_point_out)" />
  </include>
  

</launch>
